.background-image{
    --background: rgb(238, 238, 238) url("./assets/images/background.svg");
}

* {
    font-family: 'Asap';;
}

.input-border:focus{
    /* outline: 2px solid var(--ion-color-primary); */
    outline: 2px auto var(--ion-color-primary);
}