.background-image{
    --background: rgb(238, 238, 238) url("./assets/images/background.svg");
}

* {
    font-family: 'Asap';;
}

.input-border:focus{
    border-color: red;
    outline-color: blue;
}